{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/styles.css' %} ">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar">
        <ul>
            <li class="logo"><a href="/">Cinemacenter</a></li>
            <div class="items">
                <li><a href="{% url 'movie:movies' %}">Movies</a></li>
                <li><a href="#">TV Shows</a></li>
                <li><a href="#">People</a></li>
                {% if user.is_authenticated %}
                <li><a href="#">Profile</a></li>
                {% else %}
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                {% endif %}
            </div>
            <li class="search-icon">
                <form action="{% url 'core:search' %}" method="get" class="search-form">
                    <input name="query" type="text" value="{{ query }}" placeholder="Search for a movie, tv show, person">
                    <button class="btn">Search</button>
                </form>
            </li>
        </ul>
    </nav>

    {% block content %} {% endblock %}


    <footer class="footer">
        <div class="container footer-container">
            <div class="logo">
                <a href="/">Cinemacenter</a>
            </div>
            <div class="links">
                <a href="#" class="btn">About us</a>
                <a href="#" class="btn">Contact</a>
            </div>
        </div>
    </footer>

</body>

</html>