{% extends 'core/base.html' %} {% block title %}Home {% endblock %} {% block content %}

<div class="home-page">
    <div class="container">
        <h2 class="title">Trending of the day</h2>
        <div>
            {% for movie in trending_movies_day %}
            <a href="{% url 'movie:detail' movie.id %}">{{movie.title}}</a> {% endfor %}
        </div>
        <h2 class="title">What's popular</h2>
        <div>
            {% for movie in popular_movies %}
            <a href="">{{movie.title}}</a> {% endfor %}
        </div>
    </div>
</div>

{% endblock %}